body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

h1 {
  text-align: center;
}

#speak_container_id {
}

#definition_container_id {
}

#answer_container_id {
}

#statistics_container_id {
  margin: 14px;
}

core-header-panel {
  background: white;
}

core-toolbar {
  background-color: #03A9F4;
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}
#startDiv {
  display: none;
}

#helpButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#progress {
  width: 80%;
}